@font-face {
  font-family: "Gotham";
  src: url(/assets/font/Gotham-Book.otf);
}
@font-face {
  font-family: "GothamB";
  src: url(/assets/font/Gotham-Bold.otf);
}
@font-face {
  font-family: "GothamM";
  src: url(/assets/font/Gotham-Medium.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #f9f9f9;
}

header {
  height: 100vh;
  background: url(/assets/img/tesla_cybertruck_07.jpg) center/cover;
}
header nav {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  z-index: 100;
  position: relative;
  transition: 0.1s;
}
header nav svg {
  height: 18px;
  cursor: pointer;
}
header nav .main-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .main-nav ul li {
  transition: 0.2s ease-in-out;
}
header nav .main-nav ul li:hover {
  background: #F2F2F2;
}
header nav .main-nav ul li a {
  font-family: "GothamM", sans-serif;
  transition: 0.2s ease-in-out;
}
header nav .main-nav ul li a:hover {
  color: #111111;
}
header nav .left-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #f9f9f9;
}
header nav .left-nav ul li {
  padding: 0 10px;
}
header nav .left-nav ul li i {
  cursor: pointer;
  font-size: 1.2rem;
}
header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
header .header-content img {
  height: 150px;
  position: absolute;
  top: 150px;
}
header .header-content a {
  background: #111111;
  font-size: 0.85rem;
  font-family: "GothamM", sans-serif;
  text-transform: uppercase;
  color: #8F9295;
  padding: 15px 25px;
  border-top: 4px solid #8F9295;
  letter-spacing: 1px;
  transition: 0.5s ease;
  margin-top: 600px;
}
header .header-content a:hover {
  background: #1c1c1c;
}

.vehicule-nav {
  background: rgb(255, 255, 255);
  padding: 30px 0 80px;
  position: absolute;
  width: 100%;
  top: -600px;
  transition: 0.3s ease-out;
  opacity: 0;
  z-index: 2;
}
.vehicule-nav .vehicules {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-items: center;
  max-width: 1200px;
  margin: 0px auto;
}
.vehicule-nav .vehicules img {
  height: 150px;
  cursor: pointer;
}
.vehicule-nav .vehicules .v-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-right: 1px solid #dbdbdb;
  padding-right: 30px;
}
.vehicule-nav .vehicules .v-left .vl-content {
  padding: 0 10px;
}
.vehicule-nav .vehicules .v-left .vl-content h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.3rem;
  margin-top: 10px;
}
.vehicule-nav .vehicules .v-left .vl-content .vl-btn {
  text-align: center;
}
.vehicule-nav .vehicules .v-left .vl-content .vl-btn a {
  text-decoration: underline;
  color: #8F9295;
  padding: 10px;
}
.vehicule-nav .vehicules .v-right ul {
  margin-top: 20px;
}
.vehicule-nav .vehicules .v-right ul li {
  padding: 15px 0;
  font-family: "GothamM", sans-serif;
  color: #111111;
  cursor: pointer;
}
.vehicule-nav .vehicules .v-right ul li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.energie-nav {
  background: rgb(255, 255, 255);
  padding: 30px 0 80px;
  position: absolute;
  width: 100%;
  top: -600px;
  transition: 0.3s ease-out;
  opacity: 0;
  z-index: 2;
}
.energie-nav .energie {
  display: grid;
  grid-template-columns: 60% 40%;
  max-width: 1200px;
  margin: 50px auto;
  height: 252px;
}
.energie-nav .energie img {
  height: 150px;
  cursor: pointer;
}
.energie-nav .energie .e-left {
  display: flex;
  border-right: 1px solid #dbdbdb;
  padding-right: 50px;
  margin: 0 auto;
}
.energie-nav .energie .e-left .el-content {
  padding: 0 10px;
}
.energie-nav .energie .e-left .el-content h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.3rem;
  margin-top: 10px;
}
.energie-nav .energie .e-left .el-content .el-btn {
  text-align: center;
}
.energie-nav .energie .e-left .el-content .el-btn a {
  text-decoration: underline;
  color: #8F9295;
  padding: 10px;
}
.energie-nav .energie .e-right ul {
  margin-top: 20px;
}
.energie-nav .energie .e-right ul li {
  padding: 15px 0;
  font-family: "GothamM", sans-serif;
  color: #111111;
  cursor: pointer;
}
.energie-nav .energie .e-right ul li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.recharge-nav {
  background: rgb(255, 255, 255);
  padding: 30px 0 80px;
  position: absolute;
  width: 100%;
  top: -600px;
  transition: 0.3s ease-out;
  opacity: 0;
  z-index: 2;
}
.recharge-nav .recharge {
  display: grid;
  grid-template-columns: 75% 25%;
  max-width: 1384px;
  margin: 50px auto;
  height: 252px;
}
.recharge-nav .recharge img {
  height: 150px;
  cursor: pointer;
}
.recharge-nav .recharge .r-left {
  display: flex;
  border-right: 1px solid #dbdbdb;
  padding-right: 50px;
  margin: 0 auto;
}
.recharge-nav .recharge .r-left .rl-content h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.3rem;
  margin-top: 10px;
}
.recharge-nav .recharge .r-left .rl-content .rl-btn {
  text-align: center;
}
.recharge-nav .recharge .r-left .rl-content .rl-btn a {
  text-decoration: underline;
  color: #8F9295;
  padding: 10px;
}
.recharge-nav .recharge .r-right ul {
  margin-top: 10px;
}
.recharge-nav .recharge .r-right ul li {
  padding: 15px 0;
  font-family: "GothamM", sans-serif;
  color: #111111;
  cursor: pointer;
}
.recharge-nav .recharge .r-right ul li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.decouvrir-nav {
  background: rgb(255, 255, 255);
  padding: 30px 0 80px;
  position: absolute;
  width: 100%;
  top: -600px;
  transition: 0.3s ease-out;
  opacity: 0;
  z-index: 2;
}
.decouvrir-nav .decouvrir .d-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  position: relative;
  max-width: 840px;
  margin: 50px auto;
  height: 286px;
}
.decouvrir-nav .decouvrir .d-container .d1 h3 {
  color: #8F9295;
  font-family: "Gotham", sans-serif;
  font-weight: 100;
}
.decouvrir-nav .decouvrir .d-container .d1 ul {
  margin-top: 10px;
}
.decouvrir-nav .decouvrir .d-container .d1 ul li {
  padding: 10px 0;
  font-family: "GothamM", sans-serif;
  color: #111111;
  cursor: pointer;
}
.decouvrir-nav .decouvrir .d-container .d1 ul li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.shop-nav {
  background: rgb(255, 255, 255);
  padding: 30px 0 80px;
  position: absolute;
  width: 100%;
  top: -600px;
  transition: 0.3s ease-out;
  opacity: 0;
  z-index: 2;
}
.shop-nav .shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 50px auto;
  height: 229px;
}
.shop-nav .shop .scontent img {
  height: 150px;
  cursor: pointer;
}
.shop-nav .shop .scontent h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.3rem;
  margin-top: 10px;
}

.active {
  top: 70px;
  opacity: 1;
}

.section1 {
  background: url("/assets/img/Cybertruck-Second-Hero-Desktop.avif") center/cover;
  height: 100vh;
}
.section1 .s1-infos {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section1 .s1-infos ul {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  position: relative;
}
.section1 .s1-infos ul li {
  position: relative;
  margin: 20px;
}
.section1 .s1-infos ul li .s1border1 {
  height: 100px;
  width: 100%;
  border-top: 1px solid #f9f9f9;
  border-right: 1px solid #f9f9f9;
}
.section1 .s1-infos ul li .s1border2 {
  height: 100px;
  width: 100%;
  border-top: 1px solid #f9f9f9;
}
.section1 .s1-infos ul li .s1border3 {
  height: 100px;
  width: 100%;
  border-top: 1px solid #f9f9f9;
  border-left: 1px solid #f9f9f9;
}
.section1 .s1-infos ul li .s1content-container1 {
  background: rgba(0, 0, 0, 0.901);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 120px;
  width: 100%;
}
.section1 .s1-infos ul li .s1content-container2 {
  background: rgba(0, 0, 0, 0.901);
  position: absolute;
  top: 10px;
  height: 120px;
  width: 100%;
}
.section1 .s1-infos ul li .s1content-container3 {
  background: rgba(0, 0, 0, 0.901);
  position: absolute;
  top: 10px;
  left: 10px;
  height: 120px;
  width: 100%;
}
.section1 .s1-infos ul li .s1content {
  position: relative;
  top: -95px;
  padding: 25px;
  width: 95%;
}
.section1 .s1-infos ul li .s1content h2 {
  color: #f9f9f9;
}
.section1 .s1-infos ul li .s1content h2 span {
  color: #8F9295;
}
.section1 .s1-infos ul li .s1content p {
  color: #8F9295;
  text-transform: uppercase;
}
.section1 .s1-infos ul::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(180deg, transparent, #111);
}

.section2 {
  background: #111;
  padding: 150px 0;
}
.section2 .video-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.section2 .video-container video {
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 96%, 98% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 96%, 98% 100%, 0 100%, 0 0);
}
.section2 .video-container .s2content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
  position: relative;
  background-image: radial-gradient(rgba(143, 146, 149, 0.1294117647) 1px, transparent 2px), radial-gradient(rgba(143, 146, 149, 0.231372549) 1px, transparent 1px);
  background-size: 30px 30px;
}
.section2 .video-container .s2content::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, transparent, #111);
  bottom: 0;
  width: 100%;
  height: 100%;
}
.section2 .video-container .s2content h2 {
  font-size: 2rem;
  color: #f9f9f9;
  width: 80%;
  font-weight: 100;
  padding-left: 40px;
  position: relative;
  z-index: 23;
}
.section2 .video-container .s2content p {
  font-size: 1rem;
  color: rgba(143, 146, 149, 0.4588235294);
  line-height: 35px;
  position: relative;
  z-index: 23;
}
.section2 .video-container .corner-top-left {
  position: absolute;
  width: 5%;
  height: 5%;
  border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
  top: 0;
  left: 0;
}
.section2 .video-container .corner-top-right {
  position: absolute;
  width: 5%;
  height: 5%;
  border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-right: 1px solid rgba(143, 146, 149, 0.5215686275);
  top: 0;
  right: 0;
}
.section2 .video-container .corner-bottom-left {
  position: absolute;
  width: 30%;
  height: 40%;
  border-bottom: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
  bottom: 0;
  left: 0;
}

.section3 {
  background: #111;
}
.section3 .s3-container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}
.section3 .s3-container .s3top-container {
  display: grid;
  grid-template-rows: 1.2fr 1fr;
}
.section3 .s3-container .s3top-container .s3topvideo-container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 93%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 93%);
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.section3 .s3-container .s3top-container .s3topvideo-container video {
  width: 100%;
  padding: 10px;
}
.section3 .s3-container .s3top-container .s3topcontent-container {
  padding: 30px;
  background-image: radial-gradient(rgba(143, 146, 149, 0.1294117647) 1px, transparent 2px), radial-gradient(rgba(143, 146, 149, 0.231372549) 1px, transparent 1px);
  background-size: 30px 30px;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 23;
}
.section3 .s3-container .s3top-container .s3topcontent-container h2 {
  text-align: right;
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.section3 .s3-container .s3top-container .s3topcontent-container p {
  text-align: right;
  font-size: 1rem;
  color: rgba(143, 146, 149, 0.4588235294);
  line-height: 35px;
  position: relative;
  z-index: 23;
}
.section3 .s3-container .s3top-container .s3topcontent-container::before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, transparent, #111);
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}
.section3 .s3-container .s3bottom-container {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
}
.section3 .s3-container .s3bottom-container .s3bottomcontent-container {
  padding: 50px;
  background-image: radial-gradient(rgba(143, 146, 149, 0.1294117647) 1px, transparent 2px), radial-gradient(rgba(143, 146, 149, 0.231372549) 1px, transparent 1px);
  background-size: 30px 30px;
  position: relative;
  color: #f9f9f9;
}
.section3 .s3-container .s3bottom-container .s3bottomcontent-container h2 {
  text-align: right;
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.section3 .s3-container .s3bottom-container .s3bottomcontent-container p {
  text-align: right;
  font-size: 1rem;
  color: rgba(143, 146, 149, 0.4588235294);
  line-height: 35px;
  position: relative;
  z-index: 23;
}
.section3 .s3-container .s3bottom-container .s3bottomcontent-container::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, transparent, #111);
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.section3 .s3-container .s3bottom-container .s3bottomvideo-container {
  -webkit-clip-path: polygon(100% 0, 100% 93%, 93% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 93%, 93% 100%, 0 100%, 0 0);
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.section3 .s3-container .s3bottom-container .s3bottomvideo-container video {
  width: 100%;
  padding: 10px;
}
.section3 .s3-container .s3-bordertopleft {
  position: absolute;
  width: 5%;
  height: 5%;
  border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
  top: 0;
  left: 0;
}
.section3 .s3-container .s3-bordertopright {
  position: absolute;
  width: 50%;
  height: 40%;
  border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-right: 1px solid rgba(143, 146, 149, 0.5215686275);
  top: 0;
  right: 0;
}
.section3 .s3-container .s3-borderbottomleft {
  position: absolute;
  width: 50%;
  height: 30%;
  border-bottom: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
  bottom: 0;
  left: 0;
}
.section3 .s3-container .s3-borderbottomright {
  position: absolute;
  width: 5%;
  height: 5%;
  border-bottom: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-right: 1px solid rgba(143, 146, 149, 0.5215686275);
  bottom: 0;
  right: 0;
}

.section4 {
  background: #111;
  padding: 150px 0;
}
.section4 .video-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.section4 .video-container video {
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 96%, 98% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 96%, 98% 100%, 0 100%, 0 0);
}
.section4 .video-container .s2content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
  position: relative;
  background-image: radial-gradient(rgba(143, 146, 149, 0.1294117647) 1px, transparent 2px), radial-gradient(rgba(143, 146, 149, 0.231372549) 1px, transparent 1px);
  background-size: 30px 30px;
}
.section4 .video-container .s2content::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, transparent, #111);
  bottom: 0;
  width: 100%;
  height: 100%;
}
.section4 .video-container .s2content h2 {
  font-size: 2rem;
  color: #f9f9f9;
  font-weight: 100;
  padding-left: 40px;
  position: relative;
  z-index: 23;
}
.section4 .video-container .s2content p {
  font-size: 1rem;
  color: rgba(143, 146, 149, 0.4588235294);
  line-height: 35px;
  position: relative;
  z-index: 23;
}
.section4 .video-container .corner-top-left {
  position: absolute;
  width: 5%;
  height: 5%;
  border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
  top: 0;
  left: 0;
}
.section4 .video-container .corner-top-right {
  position: absolute;
  width: 5%;
  height: 5%;
  border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-right: 1px solid rgba(143, 146, 149, 0.5215686275);
  top: 0;
  right: 0;
}
.section4 .video-container .corner-bottom-left {
  position: absolute;
  width: 30%;
  height: 40%;
  border-bottom: 1px solid rgba(143, 146, 149, 0.5215686275);
  border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
  bottom: 0;
  left: 0;
}/*# sourceMappingURL=index.css.map */