.section3 {
  background: #111;
  .s3-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    .s3top-container {
      display: grid;
      grid-template-rows: 1.2fr 1fr;
      .s3topvideo-container {
        // padding: 30px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%, 0 93%);
        width: 500px;
        height: 500px;
        overflow: hidden;
        video {
          width: 100%;
          padding: 10px;
        }
      }
      .s3topcontent-container {
        padding: 30px;
        background-image: radial-gradient(#8f929521 1px, transparent 2px),
          radial-gradient(#8f92953b 1px, transparent 1px);
        background-size: 30px 30px;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        z-index: 23;
        h2 {
          text-align: right;
          font-size: 1.8rem;
          letter-spacing: 2px;
          margin-bottom: 20px;
        }
        p {
          text-align: right;
          font-size: 1rem;
          color: rgba(143, 146, 149, 0.4588235294);
          line-height: 35px;
          position: relative;
          z-index: 23;
        }
        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(0deg, transparent, #111);
          top: 0;
          width: 100%;
          height: 100%;
          left: 0;
          z-index: -1;
        }
      }
    }
    .s3bottom-container {
      display: grid;
      grid-template-rows: 1fr 1.2fr;
      .s3bottomcontent-container {
        padding: 50px;
        background-image: radial-gradient(#8f929521 1px, transparent 2px),
          radial-gradient(#8f92953b 1px, transparent 1px);
        background-size: 30px 30px;
        position: relative;
        color: $white;
        h2 {
          text-align: right;
          font-size: 1.8rem;
          letter-spacing: 2px;
          margin-bottom: 20px;
        }
        p {
          text-align: right;
          font-size: 1rem;
          color: rgba(143, 146, 149, 0.4588235294);
          line-height: 35px;
          position: relative;
          z-index: 23;
        }
        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(180deg, transparent, #111);
          bottom: 0;
          width: 100%;
          height: 100%;
          left: 0;
        }
      }
      .s3bottomvideo-container {
        clip-path: polygon(100% 0, 100% 93%, 93% 100%, 0 100%, 0 0);
        width: 500px;
        height: 500px;
        overflow: hidden;
        video {
          width: 100%;
          padding: 10px;
        }
      }
    }
    .s3-bordertopleft {
      position: absolute;
      width: 5%;
      height: 5%;
      border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
      border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
      top: 0;
      left: 0;
    }
    .s3-bordertopright {
      position: absolute;
      width: 50%;
      height: 40%;
      border-top: 1px solid rgba(143, 146, 149, 0.5215686275);
      border-right: 1px solid rgba(143, 146, 149, 0.5215686275);
      top: 0;
      right: 0;
    }
    .s3-borderbottomleft {
      position: absolute;
      width: 50%;
      height: 30%;
      border-bottom: 1px solid rgba(143, 146, 149, 0.5215686275);
      border-left: 1px solid rgba(143, 146, 149, 0.5215686275);
      bottom: 0;
      left: 0;
    }
    .s3-borderbottomright {
      position: absolute;
      width: 5%;
      height: 5%;
      border-bottom: 1px solid rgba(143, 146, 149, 0.5215686275);
      border-right: 1px solid rgba(143, 146, 149, 0.5215686275);
      bottom: 0;
      right: 0;
    }
  }
}
